// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F7A81B;
$green: #1EDD88;
$pastel-green: #DFE5E0;
$gray: #0E0000;


$main-color: #EEEEEE;
$secondary-color: #F7A81B ;
$third-color: #2C7539;
$fourth-color: #fcc9b9;

$light-green: #698D6E;
$dark-green: #19362C;
$light-brown: #E6C5B8;
$orange: #BB8D58;
$light-yellow: #EEE6D2;
$not-quite-white: #FFFFFF;
$light-gray: #F4F4F2;
