// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
// Define fonts for body and headers
$font-stack: 'futura-normal', sans-serif;
$body-font: 'tenor sans', sans-serif;
$headers-font: 'vincentio', sans-serif;
// $h1-font: 'vincentio', sans-serif;




// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
