.crush {
  background-size: cover;
  padding-top: 1rem;
  text-align: justify;
  font-weight: bold;
  color: $dark-green;

  .crush-cards-container  {
    height: 65vh;
    overflow-y: auto;

  }

  .go-crush-btn {
    background-color: $dark-green;
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
  }
}

.crush h1, .crush h2, .crush p {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: $dark-green;
  text-align: justify;
}
