// // Specific CSS for your home-page
.home-splashscreen-background {
  background-image: asset-url('logo_bonnefeuille.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page {
  display: none;
}

.hidden {
  display: none;
}

.text-light-yellow {
  color: $light-yellow;
  a:hover {
      text-decoration: none;
      color: $light-yellow
  }
}

.flex-grow-1-1-0 {
  flex: 1 1 0px;
}

.text-justify {
  text-align: justify;
}

.scale-1-1 {
  scale: 1.1;
}

.page-container-background {
  background-image: linear-gradient(0deg, rgba(25, 54, 44, 1) 0%, rgba(25, 54, 44, 1) 70%, rgba(25, 54, 44, 0) 70%, rgba(0, 0, 0, 0) 100%), asset-url('cover-plant.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: -10%;
}

.page-container {
  min-height: 100vh;
  width: 100vw;
}
