// Specific CSS for your home-page
.logo {
  background-image: asset-url('gorillaz_canopee.png');
  background-position: center;  
  height: 100vh;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}