.image-card {
  width: 100%;

  // height: 100%;
  margin-top: -140px;
  overflow-y: auto;

}

.tasks-list {
  padding: 0px ;
  margin: 23px;
  li {
    list-style: none;
  }
}

.info-card {
  margin-bottom: 10rem;
}
