.tasks-index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filler {
    background-color: $dark-green;
  }

  .title-and-tabs {
    background-image: url('background_soins_index_part_1.png');
    background-size: cover;
    background-position-y: top 70px;
    background-repeat: no-repeat;

    .tabs {
      color: $light-yellow;
    }
  }

  .activities-lists {
    background-color: $dark-green;
    flex-grow: 1;
  }

  .accordion-button-water {
    color: #0c63e4;
  }

  .accordion-button-earth {
    color: #8f541d;
  }

  .accordion-border-radius {
    border-radius: 10px !important;
  }

  .accordion-margin {
    margin-bottom: 12px;
  }

  .accordion-background {
    background-color: $dark-green;
    border: none;
  }

  .accordion-button-details {
    align-items: center;
    text-align: center;
  }

  .accordion-button-font-size {
    font-size: calc(1.275rem + 0.3vw) !important;
  }

  .accordion-button-text-margin {
    margin: 0 0 0 6px !important;
  }

  .page-title {
    margin-bottom: 80px;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
  }

  .category-title {
    width: 100%;
    background-color: $not-quite-white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 0;

    i {
      width: 16px;
      text-align: center;
    }

    h4 {
      margin: 0 0 0 6px;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task_done {
      margin: 0 !important;
    }

    .task-checkbox {
      display: none;
    }

    .task-submit {
      color: #7ac294;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      margin-right: 6px;
    }

    .form-check {
      padding-left: 0;
      margin-left: 1.5em;
    }
  }

  .low-priority {
    background-color: rgba(125, 219, 82, 0.1);
  }

  .medium-priority {
    background-color: rgba(255, 251, 43, 0.3);
  }

  .high-priority {
    background-color: rgba(255, 19, 19, 0.3);
  }

  ul {
    background-color: rgba(202, 202, 202, 0.3);
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 0 1em;
  }
}

.green-square {
  background-color: #19362C;
  margin-left: 1em;
  border-radius: 50px;
  height: 20vh;
  max-width: 20vh;
  position: relative;
  i {
    color: #EEE6D2;
    font-size:5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
