.weather-container {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid $dark-green;
  border-radius: 8px;
  background-color: $lighter-green;
  padding: 8px;
  margin-bottom: 16px;

  p {
    margin: 0;
  }

  .weather-garden-info, .weather-forecast {
    flex-basis: 33%;
  }

  .weather-forecast {
    text-align: right;
  }
}

.plants-list-wrapper {
  margin-bottom: 20px;
}

.garden-plant-card {
  width: 100vw;
  height: 450px;
  border-top-left-radius: 58px;
  //padding: 25px;
  padding-left: 25px;
  padding-top: 1em;
}

.nickname-and-life-bar {
  padding-left: 15px;
}

.hp-container {
  height: 30px;
  width: 80%;
  position: relative;
  border-radius: 50px;
  background-color: white;

  .health-bar {
    min-width: 30px;
    height: 100%;
    position: absolute;
    border-radius: inherit;
  }

  .health-bar-score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.plant-nickname {
  color: $not-quite-white;
  font-size: 40px;
  font-weight: bold;
}

.life-bar {
  width: 112px;
  height: 26px;
  background-color: $not-quite-white;
  border-radius: 40px;
}

.current-life {
  height: 100%;
  border-radius: 40px;
  background-color: $danger-yellow; // Must be neutralized and set conditionally in Ruby
  width: 30%; // Must be neutralized and set conditionally in Ruby
}

.image-card-circle {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.garden-plant-card:nth-child(3n + 1) {
  background-color: $dark-green;
}

.garden-plant-card:nth-child(3n + 2) {
  background-color: $light-brown;
}

.garden-plant-card:nth-child(3n) {
  background-color: $orange;
}

.garden-plant-card:not(:is(:first-child)) {
  position: relative;
  bottom: 320px;
}

.garden-options {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.bg-dark-green {
  background-color: $dark-green;
}
