.plants-list-wrapper {
  margin-bottom: 20px;
}

.garden-plant-card {
  width: 100vw;
  height: 450px;
  border-top-left-radius: 58px;
  padding: 25px;
}

.nickname-and-life-bar {
  padding-left: 15px;
}

.plant-nickname {
  color: $not-quite-white;
  font-size: 40px;
  font-weight: bold;
}

.life-bar {
  width: 112px;
  height: 26px;
  background-color: $not-quite-white;
  border-radius: 40px;
}

.current-life {
  height: 100%;
  border-radius: 40px;
  background-color: $danger-yellow; // Must be neutralized and set conditionally in Ruby
  width: 30%; // Must be neutralized and set conditionally in Ruby
}

.image-card {
  border-radius: 28px;
}

.garden-plant-card:nth-child(3n + 1) {
  background-color: $dark-green;
}

.garden-plant-card:nth-child(3n + 2) {
  background-color: $light-brown;
}

.garden-plant-card:nth-child(3n) {
  background-color: $orange;
}

.garden-plant-card:not(:is(:first-child)) {
  position: relative;
  bottom: 320px;
}

.garden-options {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
