#garden_name {
  &:focus {
    outline: none !important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  &::placeholder {
    color: rgb(210, 210, 210);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.dimension-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size-item {
  display: inline-block;
  height: 3rem;
}

.size-selector {
  position: absolute;
  transform: scale(0);
}

.size-selector + label {
  cursor: pointer;
  display: flex;
  border-radius: 50rem;
  color: $dark-green;
  margin: 0 0.25rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

.size-selector:checked + label {
  color:#1f3210;
  background-color: #cc985c;
}


.light-item {
  display: inline-block;
  height: 3rem;
}

.light-selector {
  position: absolute;
  transform: scale(0);
}

.light-selector + label {
  cursor: pointer;
  color: #fff;
  display: flex;
  margin: 0 0.25rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.light-selector:checked + label {
  color: #cc985c;
}

.radio-button-padding {
  padding: 5rem;
}

/* Styles pour les icônes des étiquettes */
.card-avatar .custom-label {
  margin-right: 10px; /* Ajustez la valeur de la marge selon vos besoins */
}


// .btn-active-no-effect {
//   &:active {
//     background-color: $light-yellow;
//     color: $dark-green;
//     align-items: center;
//   }
//   &:focus-visible {
//       background-color: transparent !important;
//     color: $light-yellow !important;
//     border: none !important;
//     }
//   }
