.btn-new-plant-unsupported-region{
  background-color: $light-green;
  // margin-top: 10rem;
  padding: 3rem;
  border-radius: 20px;
  color: $light-yellow;
  // margin-left: 5rem;
  align-items: center;
}
