<div class="align-items-center d-flex justify-content-around navbar-bottom">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to gardens_path do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
</div>
