<div class="container">
  <div class= row>
    <div class="col 3 p-3">
      <div class="mb3 bc-secondary">
        <div class="card-body">
            <h4><%= garden_plant.nickname %></h4>
            <p>Pot Color: <%= garden_plant.pot_color %></p>
            <p>Plant: <%= garden_plant.plant.name %></p>
            <p>Garden: <%= garden_plant.garden.name %></p>
          </div>
        </div>
    </div>
  </div>
</div>
