<div class="container page-container page-container-background d-flex flex-column justify-content-center">
  <h2 class="text-center mb-4 mt-5 text-light-yellow">Crée ton jardin en trois étapes</h2>
  <%= render 'form', garden: @garden %>
</div>
