<div class="cover-card">
  <h2 class="text-center m-5"><strong>Mon balcon</strong></h2>
  <div class="form-card flex-grow-1 pt-4">
    <div class="container">
      <%= render 'form', garden: @garden %>
    </div>
  </div>
</div>
  <div class="filler bg-dark-green"></div>
