<div class="container page-container page-container-background d-flex flex-column justify-content-center">
  <h2 class="text-center mt-5 mb-4 text-light-yellow d-none">Trouvez votre plante en deux étapes</h2>
  <div class="my-5"></div>
  <%= render 'form', garden: @garden %>
</div>
