<div class="container page-container page-container-background d-flex flex-column justify-content-center"
      data-controller="swiper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">
        <h1>Choisis tes plantes</h1>
        <div class="d-flex btn bg-dark-green p-2 pr-2">
          <p>Mes likes:</p>
          <div class="likes_counter" data-swiper-target="counter">
            <%= @garden_plants.selected.count %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 position-relative bg-white">
    <div class="swiper">
      <div class="swiper__content">
        <div class="swiper__card-cont">
          <% @garden_plants.reverse.each do |garden_plant| %>
            <%= render "swiper_card", garden_plant: garden_plant %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-around">
    <%= link_to 'Mes crushs ❤️', crush_path, class: "btn, btn-primary" %>
    <%= link_to 'Critères avancés', root_path, class: "btn, btn-primary" %>
  </div>
</div>
