<div class="d-flex flex-column h-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">
        <h1>Choisis tes plantes</h1>

        <button>Options avancées</button>
      </div>
    </div>
  </div>

  <div class="flex-grow-1 position-relative bg-white">
    <div class="swiper" data-controller="swiper">
      <div class="swiper__content">
        <div class="swiper__card-cont">
          <% @garden_plants.each do |garden_plant| %>

            <div class="swiper__card"
                data-swiper-target="card"
                data-id="<%= garden_plant.id %>">


              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary profile-link d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

              <a href="" class="profile-link"></a>
              <div class="swiper__card__content">

                <div class="swiper__card__content_top">
                  <%# La partie du haut de la carte %>
                </div>

                <% if garden_plant.plant.photo.attached? %>
                  <%= cl_image_tag garden_plant.plant.photo.key, class: 'swiper__card__img' %>
                <% end %>

                <div class="swiper__card__content_bottom">
                  <p class="swiper__card__name">
                    <strong><%= garden_plant.plant.name %></strong>
                  </p>
                </div>

              </div>
              <div class="swiper__card__choice m--reject"></div>
              <div class="swiper__card__choice m--like"></div>
              <div class="swiper__card__drag"></div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>


  <%# <div class="container">
    <%#= simple_form_for :garden_plant, url: validate_plants_garden_path(@garden) do |f| %>
        <%# <div class="form-class"> %>

          <%#= f.input :choices,
                      as: :check_boxes,
                      legend_tag: false,
                      collection: @garden.garden_plants,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item',
                      label_method: lambda { |garden_plant|
                        render 'garden_plants/select_card', garden_plant: garden_plant
                      }%>

          <%#= label_method: lambda { |garden_plant| garden_plant.plant.nickname } %>

            <%#= f.button :submit %>
          </div>

      <%# end %>
  <%# </div> %>
</div>
