<div class="container">
  <%= simple_form_for :garden_plant, url: validate_plants_garden_path(@garden) do |f| %>
      <div class="form-class">

        <%= f.input :choices,
                    as: :check_boxes,
                    legend_tag: false,
                    collection: @garden.garden_plants,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item',
                    label_method: lambda { |garden_plant|
                      render 'garden_plants/select_card', garden_plant: garden_plant
                    }%>

        <%#= label_method: lambda { |garden_plant| garden_plant.plant.nickname } %>

          <%= f.button :submit %>
        </div>

    <% end %>
</div>
