.button_yes_no {
  border: solid black 1px;
  background-color: white;
  padding: 10px;
  width: 35%;
}

.back {

    padding: 12px;
    background-color: $light-gray;
    border-radius: 37px;
    font-weight: bold;
    color: $dark-green
 }


.button_next_step {
  border: solid $dark-green 1px;
  border-radius: 25px;
  background-color: $light-gray;
  padding-left: 10px;
  padding-right: 10px;
  color: $dark-green;
}

.button_lets_go {
  border: solid green 1px;
  border-radius: 25px;
  background-color: $third_color;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;

}

.button_validate {
  width: 50%;
  color: white;
  // border: solid black 1px;
  border-radius: 25px;
  background-color: $dark-green;
  padding: 2px;
}

.crush-btn {
  border: solid $dark-green 1px;
  border-radius: 25px;
  background-color: $light-gray;
  padding-left: 10px;
  padding-right: 10px;
  color: $dark-green;
}
