.card-garden {
  background-color: $not-quite-white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  .garden-info {
    h3 {
      color: $not-quite-black;
      font-size: 22px;
    }

    .location-line, .plant-count-line {
      color: $dark-gray;
      display: flex;
      align-items: center;

      i {
        font-size: 17px;
        margin-right: 8px;
        width: 24px;
        text-align: center;
      }

      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }

  .plant-image-avatar {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.with-plants {
  align-items: center;
}

.without-plants {
  flex-direction: column;
  justify-content: stretch;

  .no-plant-message {
    display: block;
    margin: 8px auto 0 auto;
    align-self: center;
  }
}

.card-category {
  color: black;
  text-align: justify;
  margin-top: 2em;
  display: flex;
  > img {
    width: 150px;
  }
  > div {
    flex-grow: 1;
    padding: 0.5rem;
  }
  > p {
    text-align: center;
  }
}

.card_plant_small {


  color: $light-yellow;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: $dark-green;
  color: white;
  padding: 10px;
}

.card_plant_medium {
  background-color: $main-color;
  color: $third_color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 50%;
}

.card_plant-large {
  background-color: $main-color;
  color: $third_color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 100%;
}

.card_selection {
  background-color: $light-green;
  color: $secondary-color;
  border-radius: 4px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-card {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  color: white;
  flex-grow: 1;
  background-size: cover;
  // height: 100vh;
  background-position: center;
  // padding: 370px 0;
  background-color: $dark-green;
  .form-right {
    text-align: right;
  }

  .form-center {
    width: 20%;
    text-align: center;
  }

  .form-left, .form-right {
    width: 40%;
  }

   h1 {
    font-size: 46px;
   }

  p {
    text-align: justify;
    margin-top: 4px;
    margin-left: 50PX;
    margin-right: 50px;
    margin-bottom: 1rem;
  }

  .btn-garden  {
    display: inline-block;
    border-radius: 25px;
    background-color: #90cb63;
    color: white;
    border-radius: 25;
    padding: 12px;
    margin: 39px;
  }

  .btn-fait {
    background-color: $light-gray;
    max-width: 32px;
    height: 32px;
    background-color: #6BAA75;
    border-radius: 30px;
    flex-grow: 1;
    margin: 0 auto;
  }
}

.tasks-list {

  .simple_form  {
    display: flex;
    justify-content: space-between;
  }


}



  .cover-card {
    background-image: url('cover-plant.png');
    height: 100%;

    .h2 {
      padding-bottom: 5px;
    }
  }

.info-card .button_next_step {
  background-color: #376117;;
  color:white;
  background-color: #1f3210;

 }

 .card-avatar {
  display: flex;
    color: black;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

 }

 .card-avatar fieldset {
  display: flex;
    color: black;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .card-avatar fieldset .form-check {
  padding-left: 0;
 }

 .fake-input {
  border: solid white;
  border-radius: 4px;
  width: 150px;
  height: 110px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 8px;
  flex-direction: column;

  .avatar {
    /* margin: auto; */
    text-align: center;
    /* margin-top: 1em; */
  }

  p {
    margin-bottom: 0;
  }

  &:first-of-type .avatar img {
    margin-top: -11px;
  }
 }

 .care-willing-selector:checked + label {
  .fake-input {
    color:#1f3210;
    background-color: $fourth-color;
  }
}

 .card-crush {
  background-color: $light-gray;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
 }
