.cover1 {
  height: calc(100vh);
  background-size: cover;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.cover1 h1, .cover1 h2, .cover1 p {
  margin-bottom: 50%;
  margin-left: 51px;
  margin-right: 35px;
}

.cover2 {
  height: calc(100vh);
  background-size: cover;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.cover2 h1, .cover2 h2, .cover2 p {
  margin-bottom: 50%;
  margin-left: 78px;
  margin-right: 60px;
  text-align: justify;
}

.cover3 {
  height: calc(100vh);
  background-size: cover;
  padding-top: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.cover3 h1, .cover3 h2, .cover3 p {
  margin-bottom: 50%;
  margin-left: 26px;
  margin-right: 10px;
  color: white;

}
.cover3 .btn-primary {
  border-radius: 39px;
}

.merci {
  height: calc(100vh - 104px);
  background-size: cover;
  padding-top: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: white;
  font-weight: bold;
}

.merci h1, .merci h2, .merci p {
  margin-bottom: 50%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}


.page {
  display: none;
}

.hidden {
  display: none;
}