
.garden_plant_choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;

}


.tag-item {
  display: inline-flex;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  width: 100%;
}

.tag-selector:checked + label .plant-option {
  border: 2px solid red;
}

.dark-green-title {
  color: $dark-green;
  text-align: left;
}

.light-yellow-instruction {
  color: $light-yellow;
  text-align: center;
}

.medium-image {
  width: 30%;
  /* Vous pouvez également spécifier la hauteur si nécessaire */
  height: 30%; /* Pour maintenir le rapport hauteur/largeur d'origine */
}

.color-light-gray {
  color: $light-gray;
}

.plant-selector-background {
  background-image: linear-gradient(0deg, rgba(25, 54, 44, 1) 0%, rgba(25, 54, 44, 1) 70%, rgba(25, 54, 44, 0) 70%, rgba(0, 0, 0, 0) 100%), asset-url('cover-plant.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  min-height: 100vh;
  width: 100vw;
}
