.health-bar-container{
  height: 45px;
  width: 55%;
  position: relative;

  margin: 0 auto 2em;
  border: solid 1px;
  border-radius: 50px;

  .health-bar {
    min-width: 30px;
    height: 100%;
    position: absolute;
    border-radius: inherit;
  }

  .health-bar-score {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
