.navbar-lewagon {
  justify-content: space-between;
  height: $navbar-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-bottom-container {
  position: fixed;
  bottom: $navbar-bottom-bottom-spacing;
  padding: 0 1rem;
  width: 100%;
  .navbar-bottom {
    height: $navbar-bottom-height;
    border-radius: 9999px;
    width: 100%;
    background-color: $light-gray;
}
  .fa-solid fa-seedling {
    color: $dark-green;
  }
}
