.navbar-lewagon {
  justify-content: space-between;
  background: #569267b5;
  height: $navbar-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-bottom {
  height: $navbar-bottom-height;
  border-radius: 9999px;
  position: fixed;
  bottom: $navbar-bottom-bottom-spacing;
  width: 93%;
  background-color: white;
  margin-left: 14px;
  margin-right: 10px;
}
