.pot_1 { 
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  background-color: black;
}

.pot_2 {
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  background-color: #0E6811;
}

.pot_3 {
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  background-color: #F5DDA1;
}

.pot_4 {
  width: 35px;
  height: 35px;
  border: solid black 1px;
  border-radius: 50%;
  background-color: white;
}