// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// @import 'bootstrap-datetimepicker';


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

.min-full-screen {
  min-height: 100vh;
}

h1 {
  font-family: 'vincentio', sans-serif;
}

a {
  text-decoration: none;
  color: $dark-green;
}

.dark-green-text {
  color: $dark-green;
}

.notification-dot {
  position: relative;
  &:after {
    content: '';
    height: 0.725rem;
    width: 0.725rem;
    background-color: RGB(247, 139, 139);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 5.5%;
    right: -80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.blinking {
  -webkit-animation: 1s blink ease infinite;
  -moz-animation: 1s blink ease infinite;
  -ms-animation: 1s blink ease infinite;
  -o-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
