<p>Hello <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un changement de votre mot de passe. Vous pouve le faire via le lien ci-dessous.</p>

<p><%= link_to 'Changez mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ignorez ce message si vous n'êtes pas à l'origine de cette demande.</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas fait la modification via ce lien.</p>
